
.container {
    width: 1400px;
}

.right-col {
    padding: 20px;
    margin: 20px;
}

.row {
    margin-top: 40px;
}

body {
    color: white;
}

.stageImage {
    widows: 200px;
    height: 100px;
}

.logo {
    margin-left: 16px;
}